{% extends 'base.html' %}
{% block title %}
  A propos
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>A propos</h1>
        <p>Je suis un développeur web junior, j'ai 20 ans et je suis actuellement en formation à l'école O'clock.</p>
        <p>Je suis passionné par le développement web et j'ai décidé de me lancer dans ce domaine.</p>
        <p>Je suis actuellement à la recherche d'un stage de 6 mois à partir de septembre 2019.</p>
        <p>
          Vous pouvez me contacter à l'adresse suivante : <a href="mailto:regi.gouale.pro@gmail.com"></a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
