{% extends 'base.html' %}

{% block title %}
  Ajouter une nouvelle tâche
{% endblock %}

{% block content %}
  <body class="text-center">
    <div class="container">
      <form method="POST" class="form-register" style="color:black">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">Ajouter une nouvelle tâche</h1>
        <br />

        {{ form.title.label() }}
        {{ form.title(class = 'form-control', placeholder = 'Titre') }}

        {{ form.description.label() }}
        {{ form.description(class = 'form-control', placeholder = 'Description') }}
        {{ form.deadline.label() }}
        {{ form.deadline(class = 'form-control', placeholder = 'Date limite') }}
        
        <br />
        {{ form.submit(class = 'btn btn-lg btn-primary btn-block') }}
      </form>
    </div>
  </body>
{% endblock %}
